<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket_table.name %>
</p>

<p>
  <strong>Seat#:</strong>
  <%= @ticket_table.seat_id_seq %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ticket_table.address %>
</p>

<p>
  <strong>Price paid:</strong>
  <%= @ticket_table.price_paid %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @ticket_table.email_address %>
</p>

<%= link_to 'Edit', edit_ticket_table_path(@ticket_table) %> |
<%= link_to 'Back', ticket_tables_path %>
